{
  "env": {
    "commonjs": true,
    "es6": true,
    "node": true,
    "jest/globals": true
  },
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended",
    "airbnb-typescript",
    "plugin:import/typescript",
    "plugin:jest/recommended"
  ],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": 2018,
    "project": "./tsconfig.json"
  },
  "plugins": [
    "@typescript-eslint",
    "jest",
    "i18n-validator"
  ],
  "settings": {
    "import/parsers": {
      "@typescript-eslint/parser": [
        ".ts",
        ".tsx"
      ]
    },
    "import/resolver": {
      "typescript": {
        "alwaysTryTypes": true
      }
    }
  },
  "rules": {
    "max-len": "off",
    "react/jsx-filename-extension": "off",
    "import/no-extraneous-dependencies": "off",
    "semi": [
      "error",
      "always"
    ],
    "object-curly-spacing": [
      "error",
      "always"
    ],
    "import/prefer-default-export": "off",
    "import/extensions": [
      "off",
      "ignorePackages"
    ],
    "no-console": "off",
    "@typescript-eslint/no-duplicate-imports": "error",
    "quotes": [
      "error",
      "single",
      {
        "avoidEscape": true
      }
    ],
    "i18n-validator/json-key-exists": [
      "error",
      {
        "locales": [
          "hu/translation",
          "en-US/translation"
        ],
        // "jsonBaseURIs": [
        //   {
        //     "baseURI": "./src/locales"
        //   }
        // ]
      }
    ]
  }
}
